@import "../../global.scss";

.nav-bar {
  width: 100%;
  height: 50px;
  background-color: $mainColor;
  position: static;
  top: 0;
  display: flex;
  align-items: center;
  font-family: "Oswald", sans-serif;
  z-index: 999;

  &-Left {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-Item {
    color: $whiteColor;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
  }

  &-Right {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;

    &-Image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }

    &-Search {
      font-size: 18px;
      color: $whiteColor;
      cursor: pointer;
      margin-left: 15px;
    }
  }

  &-Center {
    flex: 6;

    &-List {
      display: flex;
      justify-content: center;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &-Item {
      margin-right: 20px;
      font-size: 18px;
      font-weight: 300;
      color: $whiteColor;
      cursor: pointer;
    }
  }
}
