$mainColor: #0597bb;
$secondaryColor: #000000;
$backgroundColor: #0597bb;
// basic colors
$whiteColor: #fff;

$width: 768px;

*::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
