// Background color
$backgroundColor: #0597bb;

$mainColor: #0597bb;
$mainColorLight: #0597bb65;
$secondaryColor: #000000;
// basic colors
$whiteColor: #fff;
$whiteColorXLight: rgba(255, 255, 255, 0.11);
$whiteColorLight: rgba(255, 255, 255, 0.336);
$greyColor: #919191;
$greyColorMedium: #585858;
$greyColorDark: #222;

$width: 768px;

*::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
